.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 10px -20px; */
}
.card {
  border-radius: 20px;
  background-color: red;
  /* width: 25%; */
  width: 350px;
  /* width: calc(350px - 30px); */
  /* margin-left: 30px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards_v2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 10px -20px; */
}
.card_v2 {
  border-radius: 20px;
  background-color: red;
  /* width: 25%; */
  /* width: 350px; */
  width: calc(350px - 30px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
card_v2:not(:first-child) {
  margin-left: 30px;
}
.parent {
  padding: 10px;
}
.item span {
  background-color: yellow;
  flex: 1;
}
.item:last-child {
  background-color: green;
}
.itemv {
  background-color: gold;
  border: 1px solid grey;
  min-height: 50px;
}
.container {
  display: grid;
  /* element 1 = 300px, 2 = 100px này là độ dài tuyệt đối */
  /* grid-template-columns: 300px 100px; này là độ dài tuyệt đối */
  /* element 1 = 300px, 2 = 100px, 3 = 200px này là độ dài tuyệt đối */
  /* grid-template-columns: 300px 100px 200px; */
  /* mình sẽ dùng độ dài tương đối, fr = fraction -> 1fr 1fr 1fr = repeat(3, 1fr) */
  grid-template-columns: repeat(3, 1fr);
  /* tương tự columns thì giờ là row */
  /* grid-template-row: 100px 300px 200px; */
  /* hoặc dùng cách này, nhưng cách này là hardcode */
  /* grid-auto-rows: 10px; */
  /* nên dùng cách này flex */
  grid-auto-rows: minmax(50px, auto);
}
.item-5 {
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* = với lệnh */
  grid-column: 2/4;
  grid-row: 2/4;
}
.item-4 {
  grid-row: 2/5;
}

.containerv2 {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 100px 1fr 1fr 100px;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "sidebar comment comment"
    "footer footer footer";
  column-gap: 10px;
  row-gap: 10px;
}
.item-1v2 {
  grid-area: header;
  height: 100%;
  width: 100%;
  background-color: pink !important;
}
.item-2v2 {
  grid-area: sidebar;
  height: 100%;
  width: 100%;
  background-color: orange !important;
}
.item-3v2 {
  height: 100%;
  width: 100%;
  background-color: red !important;
  grid-area: content;
}
.item-5v2 {
  grid-area: footer;
  height: 100%;
  width: 100%;
  background-color: blue !important;
}
.item-4v2 {
  grid-area: comment;
  height: 100%;
  width: 100%;
  background-color: yellow !important;
}
.grid1 {
  /* padding: 150px; */
  display: grid;
  grid-gap: 30px;
  /* mỗi img min 200px, max 1fr, auto-fill là mỗi element min 200px VD: full màn hình sẽ hiện được 6 element, mà mình chỉ có 4 element
  thì khoảng trống 2 element còn lại là trống, còn nếu mình dùng auto-fit thì vì min là 200px thì nghĩa là từ 200px trở lên nên nó sẽ
  dãn kích thước element ra hay nói cách khác là tăng width element lên sao cho 4 element hiển thị đủ full width luôn -> ưu tiên dùng auto-fit
  design width bao nhiêu thì thay thế width đó cho vị trí 200px
  */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid1 img {
  object-fit: contain;
  /* width: 150px; */
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .grid1 {
    grid-template-columns: unset;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    padding: 25px;
    scroll-padding: 25px;
  }
  .grid1_container {
    /* start or end or center */
    scroll-snap-align: start;
  }
}
